<html>

<head>
    <title>Lista publikacji</title>
    <meta charset="iso-8859-2">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="bower_components/jqueryui/themes/base/jquery-ui.css" />
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/fontawesome/css/font-awesome.css" />
    <link rel="stylesheet" href="css/mydocuments.css" />
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                    aria-expanded="false">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
               </button>
                <a class="navbar-brand" href="#">Brand</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="#">Wyszukiwarka</a></li>
                    <li><a href="#">Edycja dokumentow</a></li>
                    <li><a href="#">Lista publikacji</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">O nas</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Nieznajomy<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Zaloguj</a></li>
                            <li><a href="#">Panel użytkownika</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Wyloguj</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <table id="publications">
        <thead>
            <tr>
                <th>Nazwa publikacji</th>
                <th>Data publikacji</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <!--CONTENT-->

    <!--CONTENT-->
    <script src="bower_components/jquery/dist/jquery.js" type="text/javascript"></script>
    <script src="bower_components/jqueryui/jquery-ui.js" type="text/javascript"></script>
    <script src="bower_components/moment/moment.js" type="text/javascript"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js" type="text/javascript"></script>
    <script src="bundle.js" type="text/javascript"></script>
</body>

</html>