<html>

<head>
	<title>Rejestracja</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div>
    <div class="glyphicon glyphicon-duplicate"></div>
	<ul id="register-menu">
        <li><a class="fi-web" href="index"><div>Strona głowna</div></a></li>
        <li><a href="login"><div>Logowanie</div></a></li>
        <li><a href="about"><div>O firmie</div></a></li>
        
    </ul>
    </div>
    <link rel="stylesheet" href="bower_components/jqueryui/themes/base/jquery-ui.css"/>
    <link rel="stylesheet" href="bower_components/primeui/primeui-all.css"/>
    <link rel="stylesheet" href="bower_components/fontawesome/css/font-awesome.min.css"/>            
	<script src="bower_components/jquery/dist/jquery.js" type="text/javascript"></script>
	<script src="bower_components/jqueryui/jquery-ui.js" type="text/javascript"></script>
	<script src="bower_components/moment/moment.js" type="text/javascript"></script>
	<script src="bower_components/primeui/primeui-all.js" type="text/javascript"></script>
    <script src="bundle.js" type="text/javascript"></script>
</body>

</html>