.forms {
    display: inline-block;
    margin-top: 20px;
    padding-left: 20%;
    padding-right: 20%;
    position: relative;
    clear: both;
}

.form-login-input-cap {
    width: 70px;
}

#form-login {
    float: left;
    width: 45%;
    position: relative;

}
.input-group {
    position: relative;
    margin-bottom: 5px;
}

#form-reset {
    float: left;
    width: 45%;
    position: relative;

}

.warn {
    color: red;
}
