.navigation .documents-button {
    display: none;
}

.navigation .documents-button {
    display: none;
}

.navigation .user-button {
    display: none;
}

.navigation .admin-button {
    display: none;
}

.navigation .logoff-button {
    display: none;
}